
@media (min-width: 996px) {
	body{
		margin: 0% 10%;
	}
	div#start{
		background: linear-gradient(rgba(22,36,49,.8), rgba(22,36,49,.8)), url('image-video/skillpage.jpg');
	    /*background-image: url('image-video/laptop.png');*/
	    height: 637px;
	}
    #navbar a{
		float: left;
		padding-right: 30px;
		text-decoration: none;
		color: #cc6666;
		margin-right: 2px;
		border-right: solid 1px rgba(0, 0, 0, 4);
		font-size: 20px;
	}
	#navbar a:last-of-type{
	    border-right: none;
	}
	#navbar a:first-of-type{
	    margin-left:5%;
	}
	#navbar a:hover{
	    color:white;
	}

	#navbar{
		position: fixed;
		top: 0px;
		width: 80%;
		height:4rem;
		padding: 1% 0% 1% 18%;
		min-width: 30px;
		z-index: 2;
	}
	#navbar {
	    -webkit-transition: all 0.6s ease-out;
	    -moz-transition: all 0.6s ease-out;
	    -o-transition: all 0.6s ease-out;
	    -ms-transition: all 0.6s ease-out;
	    transition: all 0.6s ease-out;
	}

	/*================================== HOME ====================================*/

	div#start{
		background-image: url('image-video/laptop.png');
		background-size: cover;
	    font-size: 40px;
	}
	#start span{
	    color:white;
	}
    
    #home-info{
        margin-left: 10%;
        margin-top: 8%;
    }
    
	#start h1{
	    margin: 10% 5% 5% 45%;
	    font-size: 70px;
	}
	#start h3{
	    margin: 2% 15% 2% 45%;
	    font-size: 50px;
	}
	#start p{
	    margin: 0% 15% 0% 45%;
	}
/*============================ ABOUT ME =======================================*/

    #AboutMe{
    	background: linear-gradient(rgba(22,36,49,.8), rgba(22,36,49,.8)), url('image-video/skillpage.jpg');
        font-size: 15px;
		font-family: 'Montserrat', sans-serif;
    }
    #AboutMe img{
        height: 25%;
        border-radius: 50%; 
        margin: 0rem 2rem 0rem 5rem;

    }
    #AboutMe #quote{
        text-align: justify;
        margin: 1.5rem 5rem 1.5rem 20rem;
        font-size:25px;
        padding-top: 1rem;
    }
    #AboutMe #info{
        margin: 0rem 1rem 3rem 1rem;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    #AboutMe #quote p{
        font-size: 20px;
        margin-top: 2rem;
    }
    
    #AboutMe #info h4{
        font-size: 25px;
        margin: 1rem 2rem;
        
    }
    #AboutMe h2{
        margin-left: 8%;
        font-size: 30px;
    }
    
    #AboutMe #info p{
        margin: 0rem 0.8rem;
    }
    #AboutMe #info p span{
        color: #cc6666;
        font-size: 20px;
    }
    #AboutMe #info p:last-of-type{
        margin-bottom:10px;
    }
    #AboutMe #contact {
        position: relative;
        bottom: 30px;
        margin: 25% 20% 0% 35%;
    }
    #AboutMe span{
        color: #4d0026;
    }
    
    
/*============================ CV ONLINE =======================================*/
	#CV{
		font-size: 15px;
		font-family: 'Montserrat', sans-serif;
	}
    .pagename h6{
    	margin: 0% 42.5%;
    }
    #cv-presentation #image {
    	height: 30%;
    	margin: 3% 40.5% 2%;
	}
    #cv-presentation p{
    	margin: 0% 40.7%;
    }
    #cv-presentation h6{
    	margin: 0% 40.9% 5%;
    }
    .flex-container{
    	display: flex;
    	flex-wrap: wrap;
    }
    
	/*============================ Skills-Page ====================================*/
	
	.img-weather {
	    width: 280px;
	    margin: 0% 29%;
	}
	#check {
	    margin: 0% 45%;
	}
	#temperature {
	    padding: 2% 5%;
	    height: auto;
	}
	.temp {
	    margin: 0% 45%;
	}
	.city {
	    margin: 0% 41%;
	}
	#pageContainer h1{
	    margin: 2% 32%;
	}
	button {
	    margin: 10% 12% 3% 16%;
	}
	#endSkill {
	    right: 6rem;
	}
	#exit {
	    right: -2rem;
	    top: -2rem;
	}
	/*================================ GENERAL ====================================*/
	div.contentBox{
	  background: #15232e;
	  font-size: 28px;
	  border: #CCC 1px dashed;
	}
	.forScroll{
	    height: 4rem;
	}
	#pagename{
	    margin: 0rem 0.5rem
	}
	.pull-left{ 
	    float:left;
	}
	.pull-right{
	    float: right;
	}
	.clearfix::after {
	    content: "";
	    clear: both;
	    display: table;
	}
	.xl-l-screen{
	    display: block;
	}
	.xs-s-screen{
	    display: none;
	}
	div.contentBox{
	  background-color: #15232e;
	  font-size: 28px;
	  border: #CCC 1px dashed;
	}
	footer {
	    padding: 5% 34%;
	}

}